.hover-2 {
  background: linear-gradient(#007bff 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.08em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

.hover-2:hover {
  --p: 100%;
  --t: 0.3s;
  color: #fff;
}

/* Higlight text on hover */

.hl {
  background-image: linear-gradient(#ffd900, #ffd900);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 100% 2px;
  transition: background-size 0.5s, background-position 0.3s ease-in 0.5s;
}
.hl:hover {
  background-size: 100% 100%;
  background-position: 0% 0%;
  transition: background-position 0.5s, background-size 0.3s ease-in 0.5s;
}

/* End Higlight text on hover */

/*===================*/
/* FLOAT
/*===================*/

.float-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.float-on-hover:hover,
.float-on-hover:focus,
.float-on-hover:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
