@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
 
@media (max-width: 576px) { 
    .narrow {
        width: 100% !important;
    }
    .caption h1 {
        font-size: 2.3rem !important;
    }
    .caption h4 {
        font-size: 1.2rem !important;
    }
 }

@media (max-width: 768px) { 
    .narrow {
        width: 90% !important;
    }
    .caption h1 {
        font-size: 2.3rem !important;
    }
    .caption h4 {
        font-size: 1.2rem !important;
    }
 }

body {
    overflow-x: hidden; 
    font-family: 'Lato', sans-serif;
    color: #505962;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    color: #B3A29B;

}

.logotext {
    font-family: 'Beth Ellen', cursive;
    color: white;
    text-transform: lowercase;
}

.logotext a {
    text-decoration: none;
    color: white;
}

.offset:before {
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}

/*--Navigation--*/
.navbar {
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: #B3A29B !important;
    transition: top 0.3s;
}

.navbar-brand img {
    height: 2rem;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .navbar-link {
    color: #FFFFFF;
    padding-top: .8rem;
}

.nav-link {
    display: block;
}

.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link:hover {
    color: #111111;
}

/*-- Landing page --*/
.home-inner {
    background-image: url(img/bg.jpg);
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #B3A29B;  
    background: -webkit-linear-gradient(to left, #222222, #111111);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.caption {
    width: 100%;
    max-width: 100%;
    top: 38%;
    position: absolute;
    z-index: 1;
    color: white;
    text-transform: lowercase;
}

.caption h1 {
    font-size: 3.8rem;
    font-weight: 400;
    letter-spacing: .3rem;
    padding-bottom: 1rem;
}

.caption h4 {
    font-size: 1.5rem;
    padding-bottom: 1.6rem;
    font-weight: 400;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}

/*-- Course section --*/
  
.narrow {
    width: 75%;
    margin: 1.5rem auto; 
    padding-top: 2rem;
}

.narrow h1 {
    font-size: 2.4rem;
}

.btn-secondary {
    border-width: medium;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    padding: .6rem 1.2rem;
    margin: 1rem;
    color: #FFFFFF;
    background-color: #B3A29B;
    border-color: #B3A29B;
}

.btn-secondary:hover {
    background-color: #B3A29B90;
    border-color: #B3A29B;
}

/*-- Features --*/
.jumbotron {
    padding-bottom: 0;
    padding: 0 0 2rem;
    border-radius: 0;
    background-color: #B3A29B50;
}

.jumbotron h2 {
    color: #505962;
    font-family: 'Playfair Display', serif;
}

h3.heading {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 1.9rem;
    margin-bottom: 1.9rem;
}

.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: #B3A29B;
    margin: 0 auto;
}

.feature svg.svg-inline--fa {
    color: #B3A29B;
}

.feature h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 1.3rem;
    padding-bottom: .4rem;
}

.feature p {
    font-size: 1.1rem;
}

/*-- Resources --*/
.fixed {
    background-image: url(img/if.jpeg);
    z-index: -1;
}

.dark {
    background-color: rgba(0,0,0,0.75);
    color: #FFFFFF;
    padding: 7rem 2rem;
}

.fixed-background h3 {
    margin-bottom: 2rem;
}

.fixed-background p {
    margin-top: 1.5rem;
}

/* projects */

.no-pt {
    padding-top: 0;
}

.cardlist {
    margin-bottom: 0;
    padding: 0;
    border-radius: 0;
    background-color: #FFFFFF;
}

.cardlist a {
    text-decoration: none;
    color: #505962;
    cursor: pointer;
}

.cardlist h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.cardlist p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: .9rem;
}

.cardlist .btn {
    color: #B3A29B;
}

.cardlist .btn:hover {
    color: #111111;
}

/*-- Clients --*/
.clients img {
    width: 100%;
    border-radius: 50%;
}

blockquote .svg-inline--fa {
    color: #B3A29B;
    margin: 1rem;
}

.clients-hr {
    border-top: .5rem solid #B3A29B;
}

/*-- Contact --*/
.lead {
    font-family: 'Playfair Display', serif;
}

footer {
    background-color: #B3A29B;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
}

footer img {
    height: 3rem;
    margin: 1.5rem 0;
}

footer a {
    color: white;
}

footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover {
    color: #111111 !important;
}

footer a:hover {
    color: #111111 !important;
}

footer h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

hr.socket {
    width: 100%;
    border-top: .2rem solid #C7B4AD;
    margin-top: 3rem;
}

/* -- Timeline-- */

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #B3A29B;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
}

/*-- End Timeline --*/

/*================ BOOTSTRAP BREAKPOINTS ================
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

============= END OF BOOTSTRAP BREAKPOINTS =============*/
